PORT=5000
MONGO_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret
NODE_ENV=development
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SENDGRID_API_KEY=
FROM_EMAIL=noreply@intelligentdealfinder.com
SCRAPERAPI_KEY=
USE_MOCK_DATA=false
REDIS_URL=
SENTRY_DSN=